# Tratando um dataset, sobre os passageiros do titanic, apartir de um csv, sem utilizar pandas ou outra biblioteca de análise de dados

In [4]:
#Abrindo e lendo o dataset titanic.csv
titanic_csv = open('titanic.csv','r')

lines = titanic_csv.readlines()

In [5]:
#fechando conexão com o arquivo de leitura
titanic_csv.close()

In [6]:
#salvando em "header" apenas o cabeçalho do arquivo separado por virgula

header = lines[0].split(',')

print(header)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked\n']

In [7]:
#visualizando padrão do nome ("sobrenome, nome")
lines[1]

'1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S\n'

In [8]:
#tratando os nomes no padrão norte americano 
#para o padrão Pt-br usando a biblioteca regex
import re

def treatName(line):
    match = re.compile(r'"(.*)(,)(\s)(.*)"')
    return match.sub(r'"\4 \1"', line)

#visualizando padrão do nome ("nome sobrenome")
treatName(lines[1])

'1,0,3,"Mr. Owen Harris Braund",male,22,1,0,A/5 21171,7.25,,S\n'

In [9]:
#criando um dicionário com o cabeçalho e abrindo lista para info dos passageiros
titanicInfo = {}
for head in header:
    titanicInfo[head] = []
titanicInfo

{'PassengerId': [],
 'Survived': [],
 'Pclass': [],
 'Name': [],
 'Sex': [],
 'Age': [],
 'SibSp': [],
 'Parch': [],
 'Ticket': [],
 'Fare': [],
 'Cabin': [],
 'Embarked\n': []}

In [11]:
#criando uma lista com os dados separados por virgula
dataList = []
for data in lines[1:]:
    splitedLine = treatName(data).split(',')
    dataList.append(splitedLine)

In [8]:
#dando um "join" da dataList com o dict cabeçalho 
for passenger in dataList:
    for i, info in enumerate(passenger):
        titanicInfo[header[i]].append(info)

In [12]:
#imprime todos os nomes apartir do dicionario
#for data in titanicInfo["Name"]:
#    print(data)

In [13]:
#imprime todas as idades
#for data in titanicInfo["Age"]:
#    print(data)

In [10]:
#trando idades "vazias" e convertendo para tipo numerico
for i, age in enumerate(titanicInfo["Age"]):
    if titanicInfo["Age"][i] != '':
        titanicInfo["Age"][i] = float(age)
    else:
        titanicInfo["Age"][i] = -1

In [14]:
#imprime todas as idades
#for data in titanicInfo["Age"]:
#    print(data)

In [12]:
#lista com idades válidas
ageList = []
for age in titanicInfo["Age"]:
    if age != -1:
        ageList.append(age)

In [13]:
#função pra tirar média
def avg(listNumbers):
    return sum(listNumbers)/len(listNumbers)

In [14]:
#media de idades
avgAges = avg(ageList)
print(avgAges)

28.141507936507935

In [15]:
#substituindo idades inválidas para válidas
for i, age in enumerate(titanicInfo["Age"]):
    if age == -1:
        titanicInfo["Age"][i] = avgAges

In [16]:
#imprime todas as idades ATUALIZADAS (valores nulo substitidos pela media)
for data in titanicInfo["Age"]:
    print(data)

22.0
38.0
26.0
35.0
35.0
28.141507936507935
54.0
2.0
27.0
14.0
4.0
58.0
20.0
39.0
14.0
55.0
2.0
28.141507936507935
31.0
28.141507936507935
35.0
34.0
15.0
28.0
8.0
38.0
28.141507936507935
19.0
28.141507936507935
28.141507936507935
40.0
28.141507936507935
28.141507936507935
66.0
28.0
42.0
28.141507936507935
21.0
18.0
14.0
40.0
27.0
28.141507936507935
3.0
19.0
28.141507936507935
28.141507936507935
28.141507936507935
28.141507936507935
18.0
7.0
21.0
49.0
29.0
65.0
28.141507936507935
21.0
28.5
5.0
11.0
22.0
38.0
45.0
4.0
28.141507936507935
28.141507936507935
29.0
19.0
17.0
26.0
32.0
16.0
21.0
26.0
32.0
25.0
28.141507936507935
28.141507936507935
0.83
30.0
22.0
29.0
28.141507936507935
28.0
17.0
33.0
16.0
28.141507936507935
23.0
24.0
29.0
20.0
46.0
26.0
59.0
28.141507936507935
71.0
23.0
34.0
34.0
28.0
28.141507936507935
21.0
33.0
37.0
28.0
21.0
28.141507936507935
38.0
28.141507936507935
47.0
14.5
22.0
20.0
17.0
21.0
70.5
29.0
24.0
2.0
21.0
28.141507936507935
32.5
32.5
54.0
12.0
28.141507936507935
24.0
28.141507936507935
45.0
33.0
20.0
47.0
29.0
25.0
23.0
19.0
37.0
16.0
24.0
28.141507936507935
22.0
24.0
19.0
18.0
19.0
27.0
9.0
36.5
42.0
51.0
22.0
55.5
40.5
28.141507936507935
51.0